@media only screen and (min-width: 40em) {

header img {
    height: auto;
    position: absolute; 
    left: 200px;
}
header{
    padding: 0px;
    margin: 10px;
    text-align: center;
    font-family: 'Muli' sans-serif;
    color: #475c8d;
}
nav{
    background-color: #475c8d;
    padding: 10px;
    margin: 0px 200px 0px 200px;
    text-align: center;
 }
.hamburger{
    display: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    
}
li{
    display: inline;
}
li :hover{
    color: yellow;
}
li :active{
background-color: #9eaccb;
color: beige;
}
main > h2 {
    text-align: center;
    font-family: 'Muli', sans-serif;
    color: #475c8d
}
a{
    color: #cbd3e5;
    padding: 0px 20px 0px 10px;
}

.first{
    margin: 10px auto;
    position: relative;
    width: 960px;
    height: 300px;
}
.second{
    margin: 10px auto;
    background-color: #eff2f8;
    width: 100%;
}
.second img{
    width: 100%;
    height: auto;
}
.summary{
    position: absolute;
    top: 40px;
    left: 50px;
    background-color: #475c8de1;
    padding: 5px;
    box-shadow: 0px 0px 30px #475c8d;
}
.summary h3 {
    font-family: 'Muli', sans-serif;
    color: beige;
}
.summary p {
    font-family: Arial, Helvetica, sans-serif;
    color: beige;
}
h3{
    text-align: center;
    font-family: 'Muli', sans-serif;
    color: #475c8d;
}
section{
    position: relative;
}
section.fivedays{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    text-align: center;
}
section.fivedays table{
    margin: auto auto 40px auto;
} 
.fivedays td
.fivedays th {
    border: 3px solid #9eaccb;
    padding: .8em;
}
.fivedays th{
    background-color: #cbd3ef;
    color: #000000;
    padding: 1.3%;
    font-size: 1.2rem;
}
.fivedays tbody {
    font-size: 1.5em;
}
article {
    padding: 30px;
    border: solid 1px #9eaccb;
    margin: 50px; 
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eff2f8; 
}
article img{
    position: relative;
    float: right;
    padding: 0px 0px 0px 15px;
}
article h3{
    text-align: left
}
}