@media only screen and (max-width: 40em) {
header{
    margin: 10px auto;
    text-align: center;
    background-color: #9eaccb;
}
h1{
    color: white;
    font-family: 'Muli', sans-serif;
    font-size: 50px;
}
ul{
    list-style: none;
    margin: 0;
    padding: o;
}
li{
    display: block;
}
header h2 {
    font-family: Arial, sans-serif;
    font-size: 20px; 
    color: #eff2f8;
}
nav{
    margin: 10px auto;
    background-color: #475c8d;
    color: #ffffff;
    font: 16px Arial ;
    text-align: center;
}
.navigation { 
    list-style: none; text-align: center; 
}
.navigation li{ 
    display: none;
}
.navigation a {	
    display: block; color: #9eaccb; padding: .7543m; font-weight: 700; 
}
.navigation a:hover { 
    color: yellow;
}
.hamburger {
    display: block;
    position: relative;
    margin: 0% 50% 0% 50%;
    color: #9eaccb;
    }

.fivedays{
    display: none;
}
 }